@media screen and (max-width: 1630px) {
    .about__text {
        margin: 0 auto 45px;
        width: 85%;
    }

    .about__scroll {
        left: 30px;
    }

    .slick-prev {
        left: 11%;
    }

    .slick-next {
        left: 16%;
    }

    .gallery-slider .slick-dots {
        margin-left: 6%;
    }
}

@media screen and (max-width: 1230px) {
    .container {
        width: 980px;
    }


    .phone__number {
        display: none;
    }

    .about {
        padding-top: 160px;

        &__scroll {
            left: 30px;
        }

        &__phone {
            right: 50px;
        }

        &__btn {
            margin-bottom: 80px;
        }
    }

    .article__title:after {
        font-size: calc(64px + (16 + 16 * 0.7) * ((100vw - 1025px) / 1920));
    }

    .pane {
        padding-left: 20px;
    }

    .tab-nav {
        max-width: 400px;
    }

    .tab__item a.active::after {
        right: -115px;
        width: 100px;
    }

    .anim {
        width: 48%;
    }
}


@media screen and (max-width: 1025px) {
    .container {
        width: 720px;
    }

    .menu {
        display: block;
        position: fixed;
        background: #fff;
        padding-top: 100px;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-200%);
        max-width: 100%;
        height: 100vh;
        z-index: 5;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;

        &__item {
            font-size: 18px;
            line-height: 24px;
            margin: 0 auto;
            margin-bottom: 40px;
        }

        &__item:last-child {
            margin-bottom: 0;
        }

        &.active {
            transform: translateY(0);
            overflow: scroll;
            opacity: 1;
            transition: transform 0.3s ease, opacity 0.3s ease;
            background: #fff url('../img/icons/menu-bg.svg') no-repeat center center;
            padding-bottom: 20px;
        }

        &__burger {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 64px;
            height: 64px;
            border: 1px solid #e0e0e0;
            z-index: 10;

            &--img {
                width: 28px;
            }
        }
    }

    .lang.active {
        display: flex;
    }

    .gallery {
        margin-top: 45px;
        padding-top: 45px;
    }

    .gallery-slider {
        margin-top: 140px;
        margin-bottom: 80px;

        &:before {
            top: -70px;
            width: 100%;
            height: 580px;
        }

        &:after {
            top: -50px;
            height: 540px;
        }

        .slick-dots {
            margin-left: 0;
            width: 77%;
            bottom: -130px;
        }
    }

    .about {
        padding-bottom: 0;

        &__btn {
            margin-bottom: 30px;
        }
    }

    .about__phone {
        right: 30px;
    }

    .article__content {
        padding-left: 80px;
        padding-top: 80px;
    }

    .article {
        display: flex;
        margin-bottom: 150px;

        &__img {
            width: 30%;

            img {
                height: 400px;
                object-fit: cover;
            }
        }

        &__content {
            padding-top: 40px;
            width: 70%;
        }

        &:before {
            margin-top: 130px;
            right: 80%;
        }

        &:after {
            margin-top: 130px;
            right: 0;
            width: 80%;
        }
    }

    .pedikura {
        &:before {
            left: 80%;
        }
    }

    .tatoo {
        &:before {
            left: 80%;
        }
    }

    .price {
        padding-top: 0;
        padding-bottom: 70px;
    }

    .pane {
        &__item {
            &--name {
                max-width: 220px;
            }
        }

        &__list {
            padding-right: 25px;
        }
    }

    .tab-nav {
        padding-right: 20px;
    }

    .overview {
        padding-bottom: 160px;

        &-slider {
            &:before {
                width: 100%;
                height: 730px;
            }

            .slick-dots {
                bottom: -150px;
            }
        }

    }

    .anim {
        width: 63%;

        &__line {
            left: 67px;
        }

        &__logo {
            left: 0;
        }
    }

    .footer__title {
        transform: translateY(-120px);
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 540px;
    }

    .first-slider {
        .slider__item {
            height: 360px;
        }

        .slick-dots {
            bottom: 18px;
        }
    }

    .animation {
        &-1 {
            width: 270px;
            height: 270px;
            left: 25px;
            top: 45px;
        }

        &-2 {
            width: 253px;
            height: 253px;
            left: 25px;
            top: 57px;
        }

        &-3 {
            width: 217px;
            height: 217px;
            left: 33px;
            top: 80px;
        }

        &-4 {
            width: 209px;
            height: 209px;
            left: 60px;
            top: 89px;
        }

        &-5 {
            width: 192px;
            height: 192px;
            left: 54px;
            top: 112px;
        }

        .logo {
            width: 192px;

            &:before {
                height: 80px;
                transform: translateY(-128px);

            }

            &:after {
                height: 80px;
                transform: translateY(67px);

            }
        }
    }

    @keyframes line-down {
        0% {
            transform: translateY(67px);
        }

        50% {
            transform: translateY(87px);
        }

        100% {
            transform: translateY(67px);
        }
    }

    @keyframes line-up {
        0% {
            transform: translateY(-128px);
        }

        50% {
            transform: translateY(-148px);
        }

        100% {
            transform: translateY(-128px);
        }
    }

    .about {
        padding-top: 45px;

        &__text {
            width: 80%;
        }

        &__phone {
            right: 10px;
        }

        &__scroll {
            left: 20px;
        }

        &__btn {
            margin-bottom: 80px;
        }
    }

    .services__title {
        margin-bottom: 120px;
    }

    .gallery {
        margin-top: 0;
    }

    .article {
        margin-bottom: 130px;

        &:before {
            margin-top: 20px;
            top: 100%;
            right: 99%;
        }

        &:after {
            margin-top: 20px;
            top: 100%;
            width: 98%;
        }

        &__img {
            position: absolute;
            width: 80%;
            left: 50%;
            top: 0;
            transform: translateX(-50%);

            img {
                height: 250px;
            }
        }

        &__content {
            padding-left: 0;
            width: 100%;
        }

        &__title {
            margin-top: 285px;
            margin-bottom: 30px;
            margin-left: 50px;

            &:after {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &__text {
            max-width: 80%;
            margin: 40px auto;
        }
    }

    .pedikura {
        &:before {
            left: 95%;
        }

        &__title:after {
            top: -5px;
            line-height: 60px;
        }
    }

    .tatoo {
        &:before {
            left: 95%;
        }
    }

    .tab {
        &-nav {
            margin: 0 auto;
            max-width: 576px;
        }

        &__btn {
            position: absolute;
            height: 48px;
            left: 48px;
            top: 0;
        }

        &__close {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 1px solid #E0E0E0;

            img {
                width: 17px;
                height: 17px;
            }
        }

        &__title {
            margin-bottom: 40px;
        }

        &__list {
            margin-bottom: 19px;
        }
    }

    .tabs__body {
        display: none;
    }

    .pane {
        padding-top: 90px;

        &__list {
            height: 395px;
        }
    }

    .address {
        width: 100%;
        padding: 40px;

        &__title {
            text-align: center;
            margin-bottom: 100px;
        }

        &__phone {
            margin-left: auto;
            width: 170px;
        }
    }

    .anim {
        width: 60%;

        &__logo {
            left: 10px;
            z-index: 5;
        }
    }

    .popup {
        &-container {
            max-width: 450px;
            padding: 40px;
        }
    }

    .box-modal_close {
        right: -40px;
        top: -45px;
    }
}

@media screen and (max-width: 576px) {

    .container,
    .header-container {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .lang {
        display: none;
        opacity: 0;

        &.active {
            display: flex;
            position: fixed;
            left: 50%;
            transform: translateX(-50%);
            bottom: 50px;
            opacity: 1;
            transition: opacity 0.3s ease;
        }
    }

    .social {
        &__item {
            width: 48px;
            height: 48px;
        }

        &__face path {
            width: 24px;
            height: 24px;
        }
    }

    .phone__link {
        width: 48px;
        height: 48px;
    }

    .menu__burger {
        width: 48px;
        height: 48px;

        &--img {
            width: 18px;
        }

        &--close {
            width: 14px;
        }
    }

    .first-slider {
        .slider__item {
            &--one {
                background: url('../img/mobile-1.jpg') no-repeat center top / cover;
            }

            &--two {
                background: url('../img/mobile-2.jpg') no-repeat center top / cover;
            }

            &--three {
                background: url('../img/mobile-3.jpg') no-repeat center top / cover;
            }

            &--four {
                background: url('../img/mobile-4.jpg') no-repeat center top / cover;
            }
        }
    }

    .about__btn {
        padding: 24px 0;
    }

    .about {
        &__phone {
            width: 48px;
            height: 48px;

            &--svg {
                width: 34px;
                height: 34px;
            }

            &--svg path {
                width: 34px;
                height: 34px;
            }
        }

        &__scroll {
            left: 5px;
        }

        &__btn {
            margin-bottom: 50px;
        }

        &__text {
            width: 100%;
        }
    }

    .section__title {
        margin-bottom: 50px;
    }

    .services__title {
        margin-bottom: 120px;
    }

    .gallery-slider {
        margin-top: 100px;
        margin-bottom: 90px;

        &:before {
            top: -75px;
            height: 575px;
        }

        &:after {
            background-size: contain;
        }

        .slick-dots {
            bottom: -110px;
        }
    }

    .article {
        &__img {
            max-width: 408px;
            width: 100%;
        }

        &__text {
            max-width: 408px;
            width: 100%;
        }

        &__title {
            margin-top: 295px;
            margin-bottom: 60px;
            margin-left: 10%;
            font-size: 32px;
            max-width: 300px;

            &:before {
                left: 0;
            }

            &:after {
                font-size: 40px;
            }
        }
    }

    .price {
        padding-top: 0;
    }

    .price-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .pane {
        padding-left: 8px;

        &__list {
            padding-right: 10px;
        }

        &__item {
            font-size: 14px;
            line-height: 18px;
            color: #4F5D75;

            &--name {
                margin-right: 0;
                max-width: 210px;
            }
        }
    }

    .tab {
        &__list {
            background-size: contain;
        }

        &-nav {
            padding-left: 0;
            padding-right: 0;
        }

        &__title::before {
            left: -8px;
        }
    }

    .overview {
        &__title {
            margin-bottom: 210px;
        }
    }

    .address {
        max-width: 100%;
        margin: 0 auto 54px;
        padding: 20px;

        &__title {
            width: 260px;
            margin: 0 auto 100px;
            font-size: 17px;
        }

        &__btn {
            font-size: 14px;
        }
    }

    .arcticmodal-container_i2 {
        padding: 0;
    }

    .box-modal_close {
        right: 5px;
        top: -50px;
    }

    .popup {
        &-container {
            padding: 40px 15px;
        }
    }

    .anim {
        width: 88%;

        &__logo {
            img {
                width: 84px;
            }
        }
    }

    .form {
        &__btn {
            margin-top: 30px;

            &:before {
                height: 30px;
                top: -40px;
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .overview {
        &__text {
            &--one {
                left: -100px;
            }

            &--two {
                right: -100px;
            }
        }
    }

    .article__title {
        margin-left: 0;
    }

    .address__title {
        margin-bottom: 80px;
    }

    .anim {
        width: 88%;

        &__line {
            top: 174px;
        }

        &__logo {
            width: 95px;
            height: 97px;

            img {
                width: 70px;
                height: 70px;
            }
        }
    }
}