.slick-dots {
    position: absolute;
    bottom: 37px;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 35px;
}

.slick-dots li {
    margin-right: 17px;
}

.slick-dots li button {
    background: rgba(224, 175, 188, 0.2);
    border-radius: 50%;
    width: 16px;
    height: 16px;
    display: block;
    border: none;
    font-size: 0;
    outline: none;
    cursor: pointer;
}

.slick-dots li.slick-active button {
    background: url('../img/icons/dots-active.svg') no-repeat;
}

.first {
    position: relative;
}

.first-slider {
    .slider__item {
        height: 660px;
    }

    .slider__item img {
        height: 660px;
        object-fit: cover;
    }
}


.animation {
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;


    &-1 {
        position: absolute;
        top: 70px;
        left: 110px;
        width: 548px;
        height: 548px;
        transform: translateX(0);
        animation: circle 4s linear infinite;
    }

    &-2 {
        position: absolute;
        top: 93px;
        left: 110px;
        width: 514px;
        height: 514px;
        transform: translateX(0);
        animation: circle-back 4s linear infinite;
    }

    &-3 {
        position: absolute;
        top: 140px;
        left: 125px;
        width: 440px;
        height: 440px;
        transform: translateX(0);
        animation: circle 4s linear infinite;
    }

    &-4 {
        position: absolute;
        top: 160px;
        left: 200px;
        width: 365px;
        height: 365px;
        transform: translateX(0);
        animation: circle-back 4s linear infinite;
    }

    &-5 {
        position: absolute;
        top: 205px;
        left: 190px;
        width: 390px;
        height: auto;
        transform: translateX(0);

    }
}

.logo {
    position: absolute;

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        width: 1px;
        height: 205px;
        background: var(--pink-color);
        transform: translateY(-270px);
        animation: line-up 3s linear infinite;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        width: 1px;
        height: 205px;
        background: var(--pink-color);
        transform: translateY(164px);
        animation: line-down 3s linear infinite;
    }
}

@keyframes line-down {
    0% {
        transform: translateY(164px);
    }

    50% {
        transform: translateY(96px);
    }

    100% {
        transform: translateY(164px);
    }
}

@keyframes line-up {
    0% {
        transform: translateY(-270px);
    }

    50% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(-270px);
    }
}


@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-10px) rotate(0deg);
    }

    100% {
        transform: rotate(-360deg) translate(-10px) rotate(360deg);
    }
}

@keyframes circle-back {
    0% {
        transform: rotate(0deg) translate(10px) rotate(0deg);
    }

    100% {
        transform: rotate(-360deg) translate(10px) rotate(360deg);
    }
}