.footer {
    padding-bottom: 57px;
    background: url('../img/footer-bg.jpg') no-repeat center top / cover;
    position: relative;

    &__title {
        transform: translateY(-140px)
    }

    &__text {
        max-width: 522px;
        width: 100%;
        text-align: center;
        margin-left: auto;
        font-size: 14px;
        line-height: 19px;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #fff;
    }
}

.address {
    background: #fff url('../img/icons/address-bg.svg') no-repeat center center;
    max-width: 522px;
    width: 100%;
    padding: 80px 70px 43px;
    margin-left: auto;
    margin-bottom: 54px;
    position: relative;

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 42px;
        color: #171717;
        margin-bottom: 62px;

        &--span {
            font-weight: 700;
            color: var(--pink-color);
        }
    }

    &__phone {
        display: block;
        padding-left: 32px;
        font-weight: 600;
        font-size: 16px;
        line-height: 30px;
        color: #171717;
        margin-bottom: 12px;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background: url('../img/icons/footer-phone.svg') no-repeat center center;
            width: 18px;
            height: 18px;
        }
    }

    &__btn {
        color: #171717;
        padding: 24px 0;
        width: 100%;
        margin: 36px 0;

        &:hover {
            color: #fff;
        }
    }

    &__maps {
        display: block;
        text-align: center;
        font-size: 16px;
        line-height: 24px;
        color: #171717;
    }
}

.anim {
    position: absolute;
    overflow: hidden;
    max-width: 800px;
    height: 500px;
    width: 100%;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 132px;
        height: 132px;
        position: absolute;
        left: 122px;
        top: 125px;
        background: url('../img/icons/anim-circle.svg') no-repeat center center / contain;
        animation-delay: 2s;

        img {
            width: 86px;
            height: 86px;
        }

    }

    &__line {
        position: absolute;
        background-color: var(--pink-color);
        transform: translateX(0);
        width: 100%;
        height: 1px;
        left: 188px;
        top: 191px;
        z-index: 1;
        animation-duration: 2s;
        animation-name: width;
    }
}

@keyframes width {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}