.header-container {
    max-width: 1800px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #171717;
}

.header {
    padding-top: 30px;
    padding-bottom: 50px;
    &__menu {
        margin-right: 54px;    
    }
    &__social {
        margin-right: 54px;
    }
    &__lang {
        margin-right: auto;
    }
}

.social {
    display: flex;
    z-index: 10;
    &__item {
        
        border: 1px solid #e0e0e0;
        transition: border 0.3s ease;
        width: 64px;
        height: 64px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

        }

        &:hover {
            cursor: pointer;
            border: 1px solid var(--pink-color);
            transition: border 0.3s ease;

            path {
                fill: var(--pink-color);
                transition: fill 0.3s ease;
            }
        }
    }

    &__face {
        &--svg path {
            fill: #171717;
        }
    }

    &__inst {
        &--svg path {
            fill: #171717;
        }
    }
}

.lang {
    display: flex;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    z-index: 6;
    &-item {
        color: #171717;
        transition: color 0.3s ease;
        margin-right: 20px;
        &:last-child {
            margin-right: 0; 
        }
        &:hover {
            color: var(--pink-color);
            transition: color 0.3s ease;
        }

        &.current-lang {
            color: #bdbdbd;
        }
    }
}

.phone {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    &__svg path {
        fill: #171717;
        transition: fill 0.3s ease;
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        color: #171717;
        border: 1px solid #e0e0e0;
        transition: border 0.3s ease;
        &:hover {
            cursor: pointer;
            border: 1px solid var(--pink-color);
            transition: border 0.3s ease;
    
            path {
                fill: var(--pink-color);
                transition: fill 0.3s ease;
            }
        }
    } 
    
    &__number {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Helvetica', sans-serif;
        line-height: 18px;
        height: 64px;
        letter-spacing: 0.15em;
        padding: 0 20px;
        border: 1px solid #e0e0e0;
        color: #171717;
        transition: border 0.3s ease, color 0.3s ease;
        &:hover {
            border: 1px solid var(--pink-color);
            color: var(--pink-color);
            transition: color 0.3s ease, border 0.3s ease;
        }
    }
}

.menu {
    display: flex;
    max-width: 540px;
    width: 100%;
    justify-content: space-between;

    &__item {
        line-height: 20px;
        letter-spacing: 0.15em;
        position: relative;
        width: max-content;
        a {
            &:before {
                content: '';
                display: block;
                position: absolute;
                bottom: -1px;
                left: -4px;
                background: rgba(224, 175, 188, 0.3);
                width: 80%;
                height: 10px;
                transition: width 0.3s ease, height 0.3s ease;
            }
            &:hover:before {
               height: 90%;
               width: 110%; 
               transition: width 0.3s ease, height 0.3s ease;
            }
        }
    }
    &__burger {
        display: none;
        background-color: transparent;
        outline: none;
        transition: background-color 0.3s ease;
        &--close {
            position: absolute;
            display: none;
            width: 22px;
        }
        &.active {
            background-color: rgba(224,175,188,0.2);
            transition: background-color 0.3s ease;
        }
    }
}

.arcticmodal-overlay {
    background: rgba(224, 175, 188, 0.5) !important;
}

.box-modal {
	position: relative;
	width: 500px;
	padding: 16px;
	background: #fff;
	color: #3c3c3c;
	box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
	border-radius: 6px;
}
.box-modal_close { 
    position: absolute; 

    right: -75px; 
    top: 0; 
    cursor: pointer; }

.box-modal_close:hover { color: #666; }

.popup {
    position: relative;
    &__close:hover path {
        fill: var(--pink-color);
    }
    &-container {
        max-width: 502px;
        padding: 72px 71px 48px;
        background: #fff;
    }
    &__title {
        text-align: center;    
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        color: #171717;
        margin-bottom: 48px;
    }

}

.form {
    width: 100%;
    &__input {
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        padding: 0 14px;
        border: 1px solid #E0AFBC;
    }
    &__btn {
        margin: 0 auto;
        margin-top: 52px;
        height: 64px;
        max-width: 198px;
        width: 100%;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -54px;
            left: 50%;
            transform: translateX(-50%);
            height: 36px;
            width: 1px;
            background: var(--pink-color);
        }
    }
}
