.overview {
    padding-top: 45px;
    padding-bottom: 300px;
    position: relative;
    &__title {
        margin-bottom: 210px;
    }
    &-slider {
        margin-bottom: 200px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            top: -120px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(224, 175, 188, 0.3);
            max-width: 1370px;
            width: 77%;
            height: 766px;
            z-index: 0;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -120px;
            left: 50%;
            transform: translateX(-50%);
            background: url('../img/icons/gallery-bg.svg') no-repeat center center;
            opacity: 0.7;
            max-width: 1370px;
            width: 100%;
            height: 720px;
            z-index: -1;
        }
        &__item {
            outline: none;
            margin: 0 10px;
        }
    }
    &__text {
        position: absolute;
        font-weight: 700;
        font-size: 144px;
        text-transform: uppercase;
        color: #E0AFBC;
        opacity: 0.1;
        &--one {
            left: 75px;
            top: 125px;
        }
        &--two {
            right: 70px;
            bottom: -125px;
        }
    }
}

.overview-slider {
    .slick-dots {
        position: absolute;
        bottom: -210px;
        display: flex;
        left: 50%;
        max-width: 1370px;
        width: 77%;
        background: #e0e0e0;
        overflow: hidden;
    }

    .slick-dots li {
        display: inline-block;
        margin-right: 0;
        max-width: 430px;
        width: 100%;

    }

    .slick-dots li button {
        height: 2px;
        border: none;
        font-size: 0;
        outline: none;
        border-radius: 0;

    }

    .slick-dots li.slick-active button {
        background: #e0afbc;
        width: 100%;
        z-index: 10;

    }

    .slick-next.slick-disabled {
        background: url('../img/icons/arrow-right-d.svg') no-repeat center center;
        pointer-events: none;
    }

    .slick-prev.slick-disabled {
        background: url('../img/icons/arrow-left-d.svg') no-repeat center center;
        pointer-events: none;
    }

    &__item img {
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    .slick-arrow {
        position: absolute;
        bottom: -90px;
        cursor: pointer;
        font-size: 0;
        width: 40px;
        height: 30px;
        z-index: 1;
        outline: none;  
      }
      
      .slick-prev {
        background: url('../img/icons/arrow-left.svg') no-repeat center center;
        transform: translateX(0);
        transition: transform 0.3s ease;
        left: 10.3%;
      }
      
      .slick-prev:hover {
        transform: translateX(-5px);
        transition: transform 0.3s ease;
      }
      
      .slick-next {
        background: url('../img/icons/arrow-right.svg') no-repeat center center;
        transform: translateX(0);
        transition: transform 0.3s ease;
        left: 87.4%;
      }
      
      .slick-next:hover {
        transform: translateX(5px);
        transition: transform 0.3s ease;
      }
}